.adjustcenter {
  padding-top: 150px;
  padding-left: 200px;
  padding-bottom: 0px;
  align-content: space-evenly;
  background-color: #f5eded;
}
.centerfloat {
  padding-top: 10px;
  padding-left: 60 px;
  margin: 20px;
}
.ui .dropdown .floatleft {
  margin: 10px;
  float: right;
  padding-left: 10px;
}
