@darkbackground : #3e3636;
@lightbackground :#4592af;
@pagelight:#226089;
@pagedark: #3f3b3b;

.adjustcenter {
    padding-top: 150px;
    padding-left: 200px;
    padding-bottom: 0px;
    align-content: space-evenly;
    background-color: #f5eded;

}

.centerfloat {
    padding-top: 10px;
    padding-left: 60 px;
    margin: 20px;

}

.ui {
    .dark {
        background: @pagedark;
    }

    .light {
        background: @pagelight;
    }

    .raised.card {
        .dark {
            background: @darkbackground;
        }

        .light {
            background: @lightbackground;
        }
    }

    .dropdown {
        margin: 20px;
    }

    .one.cards {
        .dark {
            background: @darkbackground;
        }

        .light {
            background: @lightbackground;
            a{
                color: #3e3636;
            }
        }
    }
}