.adjustcenter {
  padding-top: 150px;
  padding-left: 200px;
  padding-bottom: 0px;
  align-content: space-evenly;
  background-color: #f5eded;
}
.centerfloat {
  padding-top: 10px;
  padding-left: 60 px;
  margin: 20px;
}
.ui .dark {
  background: #3f3b3b;
}
.ui .light {
  background: #226089;
}
.ui .raised.card .dark {
  background: #3e3636;
}
.ui .raised.card .light {
  background: #4592af;
}
.ui .dropdown {
  margin: 20px;
}
.ui .one.cards .dark {
  background: #3e3636;
}
.ui .one.cards .light {
  background: #4592af;
}
.ui .one.cards .light a {
  color: #3e3636;
}
